.navbar {
  background-color: #222;
}

.navbar .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.navbar ul a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  letter-spacing: 1px;
}

.navbar ul a.active {
  color: rgb(42, 42, 245);
  font-weight: 700;
}

.navbar h1 {
  color: #fff;
}
